= render 'layouts/header'
.signin-page
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .input{style: "margin-top: 150px;"}
      .input__email E-mail
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form"
    .input
      .input__password パスワード
      = f.password_field :password, autocomplete: "current-password", class: "form"
    .submit
      = f.submit "入室", class: "submit__btn"