= render 'layouts/header'
.memo-page
  = link_to new_memo_path do
    .memo-page__new 
      %i{class: "fas fa-feather-alt"}
  - @memos.reverse.each do |memo|
    .memo-page__memos
      .memo-page__memos__title
        = link_to edit_memo_path(memo) do
          = memo.title
      .memo-page__memos__body
        = memo.body