= render 'layouts/header'
.memo-new
  .memo-new__box
    = form_for @memo do |f|
      = f.text_field :title, class: "new_memo__title", placeholder: " 見出し"
      = f.text_area :body, class: "new_memo__body"
      .memo-new__box__btn
        = f.submit "保存", class: "new_memo__btn__save"