.header
  = link_to root_path do
    .app-title Browser room
  - if user_signed_in?
    .right
      .right__name
        = current_user.name + " 's room"
      = link_to "Log out", destroy_user_session_path, method: :delete, class: "right__logout"
  - else
    .right
      = link_to new_user_registration_path do
        .right__signup Sign up
      = link_to "Log in", new_user_session_path, class: "right__login"